.wrapper {
    display: block;
    max-width: 960px;
    padding: 64px;
    margin: 128px auto;
    overflow: hidden;
    position: relative;
}

.carousel-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    transition: transform 0.5s ease;
}

.carousel-item {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.slide-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    width: 32px;
    height: 32px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slide-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slide-prev:hover,
.slide-next:hover {
    background-color: purple;
}